<h2 style="text-align: center;">Programming Lessons</h2>

<table>
    <tr>
        <td class="dropdownp4">
            <a class="dropbtn" href="{{site.baseurl}}/csp/programming-lessons/fundamentals">Programming Fundamentals</a>
        </td>
        <td class="dropdownp4">
            <a class="dropbtn" href="{{site.baseurl}}/variables/crashers">3.1</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/variables/crashers">3.1 Variables & Assignments</a>
                <a href="{{site.baseurl}}/peppa-maze/variableshacks-python">3.1 Variables Hacks</a>
            </div>
        </td>
        <td class="dropdownp4">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea-3/data-abstractions/p4/game">3.2</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea-3/data-abstractions/p4/game">3.2 Data Abstractions Game</a>
            </div>
        </td>
        <td class="dropdownp4">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea-3/mathematical-operations/p4/lesson">3.3</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea-3/mathematical-operations/p4/lesson">3.3 Mathematical Operations Lesson</a>
                <a href="{{site.baseurl}}/csp/big-idea-3/mathematical-operations/p4/hacks">3.3 Mathematical Operations Hacks</a>
            </div>
        </td>
        <td class="dropdownp4">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea-3/calling-procedures/p4/introduction">3.12</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea-3/calling-procedures/p4/introduction">3.12 Calling Procedures</a>
            </div>
        </td>
    </tr>
</table>
