// Import root color map
@import "opencs-color-map";

// Responsive logo / nav styles
@import "nav";

// Then your existing imports
@import "open-coding/main";
@import "lessonbase";
@import "footer";
@import "timeline";
@import "lesson-player";