// Import root color map
@import "root-color-map";

// Responsive logo / nav styles
@import "nav";

// Then your existing imports
@import "open-coding/main";
@import "lessonbase";
@import "footer";

// Hunger Heroes Capstone
@import "capstone/hunger-heroes-infograph";

// Wayfinding Pages Capstone
@import "capstone/wayfinding-pages-infograph";

// Database Defenders Capstone
@import "capstone/database-defenders-infograph";

// Pirna Capstone
@import "capstone/pirna-capstone-infograph";